@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
}

.mainContainer {
  width: 100%;
  min-width: 780px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section {
  width: 100%;
  height: auto;
  padding: 12rem 0 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: url(images/hero\ Image.svg) no-repeat center / cover;
}

.header {
  width: 80%;
  max-width: 1440px;
  height: auto;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  /* margin: 0.5rem auto; */
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background: rgba(11, 10, 20, 0.6);
  backdrop-filter: blur(25px);
}

.logo svg {
  width: 24px;
  height: 24px;
  color: #faeff1;
}

.logo {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #faeff1;
}

.navLinks {
  width: fit-content;
  height: auto;
}

.navLinks ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
}

.navLinks li {
  color: #faeff1;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  list-style: none;
  font-family: "Lato", system-ui;
}

.avatar {
  width: 48px;
  height: 48px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.left_hero_content {
  width: 60%;
  max-width: 880px;
  height: auto;
  padding: 0 0 0 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.75rem;
  color: #0b0a14;
}

.hero-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.75rem;
}

.hero-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.625rem;
  font-family: "Lora", serif;
  color: inherit;
}

.hero-content h1 span {
  color: #c73857;
}

.hero-content p {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.375rem;
  font-family: "Lora", serif;
  color: #878698;
}

.search-input-field {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}

.input_group {
  width: 100%;
  height: auto;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.75rem;
}

.input_group img {
  width: 24px;
  height: 24px;
}

.hero-input {
  width: 100%;
  height: auto;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: none;
}

.hero-input::placeholder {
  color: #98a2b3;
}

.submit-button {
  cursor: pointer;
  width: fit-content;
  height: auto;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #c73857;
  color: #faeff1;
  border: transparent;
  outline: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  white-space: nowrap;
  font-family: "Lato", system-ui;
}

.submit-button:hover {
  border: 1px solid #c73857;
  background-color: transparent;
  color: #c73857;
}

.content-section {
  width: 100%;
  max-width: 1800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-container {
  width: fit-content;
  height: auto;
  padding: 3.5rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

.category {
  cursor: pointer;
  width: fit-content;
  height: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.25rem;
}

.category h1 {
  color: #878698;
  font-family: "Lora", serif;
  font-size: 2.25rem;
  font-weight: 400;
  /* letter-spacing: -0.045rem; */
}

.active h1 {
  color: #0b0a14;
  font-family: "Lora", serif;
  font-size: 2.25rem;
  font-weight: 400;
}

.category hr {
  width: 10px;
  height: 10px;
  /* border-top: 2px solid #0b0a14; */
  visibility: hidden;
}

.active hr {
  width: 12px;
  height: 12px;
  border: none;
  background-color: #0b0a14;
  border-radius: 100%;
  /* border-top: 2px solid #0b0a14; */
  visibility: visible;
}

.recipe_result-container {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 6.25rem 3.5rem 6.25rem;
  display: grid;
  /* flex-flow: row wrap;
  justify-content: start;
  align-items: start; */
  column-gap: 1.5rem;
  row-gap: 3rem;
}

.recipe-card {
  height: auto;
  border: 0.6px solid #e2e2e9;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 0.75rem;
}

.recipe_card-image {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #faeff1;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe_card-image img {
  width: 100%;
  height: 280px;
  border-radius: 0.25rem;
}

.recipe-tags {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}

.tag {
  width: fit-content;
  height: auto;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background-color: #f5cbd4;
  color: #641728;
  border: 0.6px solid #641728;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.like-button {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-regular {
  font-size: 1.25rem;
  color: #535266;
}

.fa-solid {
  font-size: 1.25rem;
  color: #c73857;
}

/* .fa-solid .fa-heart {

} */

.recipe-details {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0rem 0.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.25rem;
}

.recipe_informations {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.25rem;
}

.recipe_info-title,
.recipe_info-descr {
  width: fit-content;
  height: auto;
}

.recipe_info-title h1 {
  color: #0b0a14;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-family: "Lato", system-ui;
}

.recipe_info-descr p {
  color: #535266;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  word-spacing: 0.1rem;
  font-family: "Lato", system-ui;
}

.recipe_card_bottom-container {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  border-top: 1px solid #f6f6fa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recipe_card_bottomDetails {
  width: 100%;
  height: auto;
  /* padding: 0.5rem 0rem; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.75rem;
}

.time_details,
.calorie_details {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.25rem;
  color: #878698;
}

.time_details p,
.calorie_details p {
  color: inherit;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  font-family: "Lato", system-ui;
}

.recipe_card_bottom-container button {
  cursor: pointer;
  width: fit-content;
  height: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #c73857;
  color: #faeff1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: transparent;
  outline: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: "Lato", system-ui;
  white-space: noWrap;
}

.recipe_card_bottom-container button a {
  text-decoration: none;
  color: inherit;
}

.recipe_card_bottom-container button:hover {
  border: 1px solid #c73857;
  background-color: transparent;
  color: #c73857;
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerWrapper {
  position: relative;
  width: 100%;
  max-width: 2000px;
  height: auto;
  background-color: #641728;
  padding: 2.5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.5rem;
}

.top_container {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.5rem;
}

.heading {
  width: fit-content;
  height: auto;
}

.heading h1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #faeff1;
  font-family: "Lora", serif;
}

.footer-input-field {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}

.footer_input_group {
  width: 100%;
  height: auto;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 0.75rem;
}

.subscribe-botton {
  cursor: pointer;
  width: fit-content;
  height: auto;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #faeff1;
  color: #c73857;
  border: transparent;
  outline: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  white-space: nowrap;
  font-family: "Lato", system-ui;
}

.footer-divider {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border: 0.5px solid rgba(245, 203, 212, 0.1);
}

.copyright {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.copyright i {
  color: #f5cbd4;
}

.copyright p {
  color: #f5cbd4;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.footer_image_container {
  position: absolute;
  top: 0;
  right: 0;
}

.footer_image_container img {
  width: 200px;
  height: 150px;
}
